.header {
  background-color:rgba(71, 69, 69, 0.20);
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 28px 18px rgba(93, 193, 223, 0.40);
  border: 10px solid transparent; 
  margin: 0 auto;
  /* position: static; */
}


.instabook-logo {
  margin-top: -225px;
  margin-left: -350px;
  margin-bottom: -300px;
  transform: rotate(-27deg);

 
}

.logout-button {
   border-radius: 2px;
  background-color: powderblue; 
  height: 30px;
  max-width: 200px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 12px 18px #999;
  margin-top: 10px;
  margin-right: 10px;  
 }

.logout-button:hover {background-color: #2e94c4}

.welcome {
  color: blue;
}

.current-user-name {
  color: blue;
  margin-top: 15px;
  margin-right: 50px;
}


.signin-signup-container {
  display: flex;
  font-size: 20px;

  /* flex-direction: row; */



  

} 
/* /* 
.signin {
margin-right: 60px auto;
display: flex;
flex-direction: row-reverse;


} */

/* .signup {
margin-left: 60px; */
/* display: flex;
justify-content: flex-end; */

/* } */




img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}




 @media(max-width: 1024px){

  .instabook-logo {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: -300px;
    transform: rotate(-27deg);
  }
  .instabook-logo img {
    width: 500px;
    height: 500px;
    max-width: 50vw;
    max-height: 30vw;
  }
}



/* 
/* @media screen and (max-width:1024px){
  img.responsive {width: 200px;}
} */

 
