.comment-box {
  margin: 60px 60px;
  
}

.comment {
  height: 75px;
  width: 300px;
}

.comment-title {
  margin-top: 20px;
}

.edit-delete {
  display: flex;
  justify-content: center;
  margin-top: 60px;
 
  
  margin-bottom: 20px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black;
  background-color: rgba(125,210,220,.10); 
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 30px #999 ;
}

/* .edit-button {
padding-right: 20px;

} */

.edit-button {
  background-color: powderblue; 
   height: 50px;
   width: 100px;
   border-radius: 5px;
   font-size: 18px;
   font-weight: bold;
   box-shadow: 0 12px 18px #999;
   margin-right: 20px;
  
   
}

.edit-button:hover {background-color: #2e94c4}

.delete-button {
  background-color: powderblue; 
   height: 50px;
   width: 100px;
   border-radius: 5px;
   font-size: 18px;
   font-weight: bold;
   box-shadow: 0 12px 18px #999;
   margin-left: 20px;
   
}

.delete-button:hover {background-color: #2e94c4}

.user, .position, .location, .start-date, .end-date, .description, .contact   {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  /* font-family: 'Times New Roman', Times, serif; */
  /* text-shadow: 2px 2px 4px #2e94c4; */
  text-shadow: 6px 6px 6px #aaa;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px;
  letter-spacing: 1px;
  

}

.user-entry {
  color: blue;
  text-align: center;
  font-size: 30px;
 
}

.job-entry {
  color:  purple;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
}

.location-entry {
  color:  purple;
  text-align: center;
  font-size: 25px;
}

.start-date-entry, .end-date-entry, .contact-entry {
color: rgb(14, 119, 14);
text-align: center;
font-size: 30px;
}

.description-entry {
  font-family: 'Montserrat', sans-serif;
  max-width: 600px;
  text-align: center;
  font-size: 25px;
  color:  purple;
}

.single-post-container {
border: solid black;
box-shadow: 0 4px 30px #999 ;
width: 800px;
height: 100%px;
align-items: center;
margin: 20px 20px;
display: flex;
flex-direction: column;
border-radius: 5px;
/* background-color: powderblue;  */


}

.edit-link {
  text-decoration: none;
  color: black;
}

.save-button {
  background-color: powderblue; 
  height: 50px;
  width: 100px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 12px 18px #999;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  
  
}

.save-button:hover {background-color: #2e94c4}
/* 
.input-box {
  border-radius: 5px;
  height: 40px;
  width: 200px;
} */




@media screen and (max-width:720px){
  .single-post-container{
  margin-top: 250px;
  width: auto;
  height: 65%;
  align-content: center;
  margin-top: 40px;

  }

  .job-positions-needed {
    background-color: powderblue;
    box-shadow: 0 12px 18px #999;
    font-size: 150%;
    margin-top: 200px;
  }
}