.comment-box {
  margin: 60px 60px;
}

.edit-delete {
  display: flex;
  justify-content: center;
  margin-top: 60px;
 
  
  margin-bottom: 20px;
}

/* .edit-button {
padding-right: 20px;

} */

.edit-button {
  background-color: powderblue; 
   height: 50px;
   width: 100px;
   border-radius: 5px;
   font-size: 18px;
   font-weight: bold;
   box-shadow: 0 12px 18px #999;
   margin-right: 20px;
  
   
}

.edit-button:hover {background-color: #2e94c4}

.delete-button {
  background-color: powderblue; 
   height: 50px;
   width: 100px;
   border-radius: 5px;
   font-size: 18px;
   font-weight: bold;
   box-shadow: 0 12px 18px #999;
   margin-left: 20px;
   
}

.delete-button:hover {background-color: #2e94c4}

.user, .position, .location, .start-date, .end-date, .description   {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  /* font-family: 'Times New Roman', Times, serif; */
  /* text-shadow: 2px 2px 4px #2e94c4; */
  text-shadow: 6px 6px 6px #aaa;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px;
  letter-spacing: 1px;
  

}

.user-entry {
  color: blue;
  text-align: center;
  font-size: 30px;
 
}

.job-entry {
  color:  purple;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
}

.location-entry {
  color:  purple;
  text-align: center;
  font-size: 25px;
}

.start-date-entry, .end-date-entry {
color: rgb(14, 119, 14);
text-align: center;
font-size: 30px;
}

.description-entry {
  font-family: 'Montserrat', sans-serif;
  max-width: 600px;
  text-align: center;
  font-size: 25px;
  color:  purple;
}

.single-post-container {
border: solid black;
width: 800px;
height: 100%px;
align-items: center;
margin: 20px 20px;
display: flex;
flex-direction: column;

}


/* 
.input-box {
  border-radius: 5px;
  height: 40px;
  width: 200px;
} */
