  .post-show-container {
    border-radius: 5px;
    background-color: rgba(250, 246, 246, .95);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 40px;
    justify-content: space-evenly;
    margin: 65px auto;
    box-shadow: 0 0 17px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 100%;
    height: 100%;
    max-width: 900px;
    /* background-color: rgba(125,210,220,.10);  */
   
    
  }

  .create-button {
    background-color: powderblue; 
    height: 50px;
    width: 175px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 12px 18px #999;
    text-decoration: none;
    color: black;
    }
   
    
   
 
   .create-button:hover {background-color: #2e94c4}


 
.job-positions-needed {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 35px;
  /* font-family: 'Times New Roman', Times, serif; */
  /* text-shadow: 2px 2px 4px #2e94c4; */
  text-shadow: 6px 6px 6px #aaa;
  font-family: 'Montserrat', sans-serif;

}


@media screen and (max-width:1024px){
  .post-show-container{
  margin: 80px auto;
  width: 75%;
  height: 75%;

  }

  .job-positions-needed {
    background-color: powderblue;
    box-shadow: 0 12px 18px #999;
  }
}

@media screen and (max-width:720px){
  .post-show-container{
  margin-top: 250px;
  width: 548px;
  height: 65%;
  align-content: center;
  margin-top: 500px;

  }

  .job-positions-needed {
    margin-top: 50px;
    background-color: powderblue;
    box-shadow: 0 12px 18px #999;
    font-size: 150%;
  }
}