  .post-show-container {
    padding: 80px 80px; 
    border-radius: 3px;
    display: flex;
    align-content: center;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          
          
  
    margin: 40px auto;
    /* flex: 0 1 auto; */
    /* align-self: auto; */
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 900px;
    /* background-color: rgb(250, 246, 246); */
    -webkit-box-shadow: 0px 0px 96px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 96px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 96px 0px rgba(0,0,0,0.75);
    
  }

  .edit-delete {
    display: flex;
    justify-content: space-around;
    
    margin-bottom: 60px;
  
  }